{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feliz Día del Odontólogo {{name}}</title>
    <link rel="stylesheet" href="{% static 'css/dentist/v1.css' %}">
</head>

<body>
    <h1>¡Feliz Día del Odontólogo {{name}}!</h1>
    <div id="tooth"></div>
    <p>Serás una gran odontóloga un día de estos, tú puedes.</p>
    <button class="button" onclick="showMessage()">Haz clic para un mensaje especial</button>

    <script>
        function showMessage() {
            alert('¡Eres increíble, te quiero mucho <3!');
        }
    </script>
</body>

</html>